.render_markdown {
    font-family: monospace;
    /* background-color: #1e1e1e; */
    color: #dcdcdc;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
  }
  
  .render_markdown table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: auto; /* fit content */
  }
  
  .render_markdown th,
  .render_markdown td {
    border: 1px dashed #888;
    padding: 4px 8px;
    text-align: left;
    white-space: nowrap;
  }
  
  .render_markdown th {
    color: #00ff87;
    font-weight: bold;
  }
  
  /* .render_markdown tr:nth-child(even) {
    background-color: #2a2a2a;
  } */

  .render_markdown tr:hover{
    color: #00ff87;
  }
  